Repository coro-sh/coro: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, gomod, golangci-lint, buf-lint, debug-check, unit-tests

gofmt:
  run: "unformatted=$(gofmt -l {staged_files})\nif [ -n \"$unformatted\" ]; then\n  echo \"The following files are not formatted:\"\n  echo \"$unformatted\"\n  echo \"\"\n  echo \"Run: gofmt -w .\"\n  exit 1\nfi\n"

gomod:
  run: "go mod tidy\nif ! git diff --exit-code go.mod go.sum; then\n  echo \"go.mod or go.sum is not tidy. Run: go mod tidy\"\n  exit 1\nfi\n"

golangci-lint:
  run: golangci-lint run --new-from-rev=HEAD~1

buf-lint:
  run: make buf-lint

debug-check:
  run: "matches=$(grep -rn \"fmt.Print\\|spew.Dump\\|panic(\" {staged_files} || true)\nif [ -n \"$matches\" ]; then\n  echo \"Warning: Found potential debugging code:\"\n  echo \"$matches\"\n  echo \"\"\n  echo \"Remove debugging statements before committing\"\n  exit 1\nfi\n"

unit-tests:
  run: "# Get unique packages from staged files\npackages=$(echo \"{staged_files}\" | xargs -n1 dirname | sort -u | sed 's|^|./|' | tr '\\n' ' ')\nif [ -n \"$packages\" ]; then\n  go test $packages -race -count=1 -short\nfi\n"

Update config
  Makefile
  docs/config.md
Due: none

Update config documentation (#22)
  Makefile
  docs/config.md
Due: none

Update lefthook README.md command
  README.md
Due: none

Upgrade embedded coro-ui assets
  go.mod
  go.sum
Due: gomod

Add tag and release scripts
  Makefile
  scripts/release.sh
  scripts/version.sh
Due: none

Add release scripts documentation
  scripts/RELEASE.md
Due: none

Support custom Postgres DB name
  app/config.go
  app/run.go
  cmd/pgtool/main.go
  docs/config.md
Due: gofmt, golangci-lint, debug-check, unit-tests

Soften postgres host port validation
  app/config.go
  postgres/common_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add update namespace handler
  Makefile
  client/client.gen.go
  client/client.go
  coro-api-spec.yaml
  entity/repository.go
  entity/store.go
  entityapi/http_handler.go
  entityapi/http_types.go
  lefthook.yaml
  postgres/entity_repo.go
  postgres/migrations/0001_tables.up.sql
  postgres/queries/namespace.sql
  postgres/queries/owner.sql
  postgres/sqlc/namespace.sql.go
  postgres/sqlc/owner.sql.go
  postgres/sqlc/querier.go
  proto/gen/command/v1/message.pb.go
  sqlite/entity_repo.go
  sqlite/queries/namespace.sql
  sqlite/sqlc/namespace.sql.go
  sqlite/sqlc/querier.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add update namespace handler and add missing client methods (#24)
  Makefile
  client/client.gen.go
  client/client.go
  coro-api-spec.yaml
  entity/repository.go
  entity/store.go
  entityapi/http_handler.go
  entityapi/http_types.go
  lefthook.yaml
  postgres/entity_repo.go
  postgres/migrations/0001_tables.up.sql
  postgres/queries/namespace.sql
  postgres/queries/owner.sql
  postgres/sqlc/namespace.sql.go
  postgres/sqlc/owner.sql.go
  postgres/sqlc/querier.go
  proto/gen/command/v1/message.pb.go
  sqlite/entity_repo.go
  sqlite/queries/namespace.sql
  sqlite/sqlc/namespace.sql.go
  sqlite/sqlc/querier.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Update count condition for operators, accounts, and users
  app/run.go
  entity/repository.go
  entity/repository_test_suite.go
  entity/store.go
  lefthook.yaml
  postgres/entity_repo.go
  postgres/queries/count.sql
  postgres/queries/owner.sql
  postgres/sqlc/count.sql.go
  postgres/sqlc/owner.sql.go
  postgres/sqlc/querier.go
  sqlite/entity_repo.go
  sqlite/queries/count.sql
  sqlite/queries/owner.sql
  sqlite/sqlc/count.sql.go
  sqlite/sqlc/owner.sql.go
  sqlite/sqlc/querier.go
  tkn/operator_token_rw_test_suite.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Revert operator count condition to be owner based
  entity/repository.go
  entity/repository_test_suite.go
  entity/store.go
  postgres/entity_repo.go
  postgres/queries/count.sql
  postgres/sqlc/count.sql.go
  postgres/sqlc/querier.go
  sqlite/entity_repo.go
  sqlite/queries/count.sql
  sqlite/sqlc/count.sql.go
  sqlite/sqlc/querier.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Improve proxy agent resiliency
  app/run.go
  cmd/proxy/main.go
  command/commander.go
  command/proxy.go
  command/reconnectable_subscriber.go
  command/subscriber.go
  command/util.go
  entityapi/http_handler_fixture_test.go
  go.mod
  go.sum
  natsutil/connect.go
  tests/cluster_commands_test.go
Due: gofmt, gomod, golangci-lint, debug-check, unit-tests

Improve proxy agent resiliency
  command/broker_websocket_handler_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Improve proxy agent resiliency (#25)
  app/run.go
  cmd/proxy/main.go
  command/broker_websocket_handler_test.go
  command/commander.go
  command/proxy.go
  command/reconnectable_subscriber.go
  command/subscriber.go
  command/util.go
  entityapi/http_handler_fixture_test.go
  go.mod
  go.sum
  natsutil/connect.go
  tests/cluster_commands_test.go
Due: gofmt, gomod, golangci-lint, debug-check, unit-tests

Add notify account claims delete command
  command/commander.go
  command/commands_test.go
  entity/resolver.go
  entityapi/http_handler.go
  entityapi/http_handler_fixture_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add notify account claims delete command (#26)
  command/commander.go
  command/commands_test.go
  entity/resolver.go
  entityapi/http_handler.go
  entityapi/http_handler_fixture_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add unmanage account flag to delete request
  client/client.gen.go
  client/client.go
  coro-api-spec.yaml
  entityapi/http_handler.go
  entityapi/http_handler_test.go
  entityapi/http_types.go
  streamapi/websocket_handler_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add extra metadata to JetStream messages
  README.md
  cmd/devserver/rand_msg.go
  cmd/devserver/util.go
  command/commands_test.go
  command/proxy.go
  coro-api-spec.yaml
  go.mod
  go.sum
  proto/command/v1/message.proto
  proto/gen/command/v1/message.pb.go
  streamapi/websocket_handler_test.go
Due: gofmt, gomod, golangci-lint, buf-lint, debug-check, unit-tests

Regen client
  client/client.gen.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add /api/v1 prefix to paths in OpenAPI spec
  client/client.gen.go
  coro-api-spec.yaml
Due: gofmt, golangci-lint, debug-check, unit-tests

Fix dev server client
  cmd/devserver/main.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add delete namespaces existing operators check
  entity/repository.go
  entity/repository_test_suite.go
  entity/store.go
  entityapi/http_handler.go
  entityapi/http_handler_test.go
  postgres/entity_repo.go
  postgres/queries/count.sql
  postgres/sqlc/count.sql.go
  postgres/sqlc/querier.go
  sqlite/entity_repo.go
  sqlite/queries/count.sql
  sqlite/sqlc/count.sql.go
  sqlite/sqlc/querier.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add account create time to response
  client/client.gen.go
  coro-api-spec.yaml
  entity/account.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Refactor commander
  cmd/devserver/main.go
  cmd/proxy/main.go
  command/broker_websocket_handler.go
  command/commander.go
  command/proxy.go
  command/types.go
  command/util.go
  go.mod
  go.sum
  proto/command/v1/message.proto
  proto/gen/command/v1/message.pb.go
Due: gofmt, gomod, golangci-lint, buf-lint, debug-check, unit-tests

Add stats command
  command/commander.go
  command/commands_test.go
  command/types.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add stats endpoint
  client/client.gen.go
  client/client.go
  coro-api-spec.yaml
  entityapi/http_handler.go
  entityapi/http_handler_fixture_test.go
  entityapi/http_handler_test.go
  entityapi/http_types.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add get operator stats endpoint (#27)
  client/client.gen.go
  client/client.go
  cmd/devserver/main.go
  cmd/proxy/main.go
  command/broker_websocket_handler.go
  command/commander.go
  command/commands_test.go
  command/proxy.go
  command/types.go
  command/util.go
  coro-api-spec.yaml
  entityapi/http_handler.go
  entityapi/http_handler_fixture_test.go
  entityapi/http_handler_test.go
  entityapi/http_types.go
  go.mod
  go.sum
  proto/command/v1/message.proto
  proto/gen/command/v1/message.pb.go
Due: gofmt, gomod, golangci-lint, buf-lint, debug-check, unit-tests

Add account stats
  client/client.gen.go
  command/broker_websocket_handler.go
  command/commander.go
  command/commands_test.go
  coro-api-spec.yaml
  entityapi/http_handler.go
  entityapi/http_handler_fixture_test.go
  entityapi/http_handler_test.go
  entityapi/http_types.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add operator last connect time
  app/run.go
  command/broker_websocket_handler.go
  command/broker_websocket_handler_test.go
  command/commander.go
  command/commands_test.go
  command/consumer_pool.go
  command/stream_consumer.go
  entity/operator.go
  entity/repository.go
  entity/repository_test_suite.go
  entity/store.go
  postgres/entity_repo.go
  postgres/marshal.go
  postgres/migrations/0003_add_operator_last_connect_time.up.sql
  postgres/queries/operator.sql
  postgres/sqlc/models.go
  postgres/sqlc/operator.sql.go
  postgres/sqlc/querier.go
  sqlite/entity_repo.go
  sqlite/marshal.go
  sqlite/migrations/0002_delete_entity_triggers.up.sql
  sqlite/migrations/0003_add_operator_last_connect_time.up.sql
  sqlite/operator_token_rw.go
  sqlite/queries/count.sql
  sqlite/queries/operator.sql
  sqlite/sqlc/models.go
  sqlite/sqlc/operator.sql.go
  sqlite/sqlc/querier.go
  sqlite/test_db.go
  tests/cluster_commands_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Remove redundant queries
  command/broker_websocket_handler.go
  command/broker_websocket_handler_test.go
  entity/account.go
  entity/operator.go
  entity/operator_test.go
  entity/repository.go
  entity/repository_test_suite.go
  entity/store.go
  entityapi/http_handler.go
  entityapi/http_handler_test.go
  postgres/entity_repo.go
  postgres/queries/operator.sql
  postgres/sqlc/operator.sql.go
  postgres/sqlc/querier.go
  sqlite/entity_repo.go
  sqlite/queries/operator.sql
  sqlite/sqlc/count.sql.go
  sqlite/sqlc/operator.sql.go
  sqlite/sqlc/querier.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Remove redundant queries
  cmd/devserver/main.go
  command/broker_websocket_handler.go
  proxyapi/http_handler_test.go
  sqlite/migrations/0002_delete_entity_triggers.up.sql
  sqlite/test_db.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Add operator last connect time (#28)
  app/run.go
  cmd/devserver/main.go
  command/broker_websocket_handler.go
  command/broker_websocket_handler_test.go
  command/commander.go
  command/commands_test.go
  command/consumer_pool.go
  command/stream_consumer.go
  entity/account.go
  entity/operator.go
  entity/operator_test.go
  entityapi/http_handler.go
  entityapi/http_handler_test.go
  postgres/entity_repo.go
  postgres/marshal.go
  postgres/migrations/0003_add_operator_last_connect_time.up.sql
  postgres/queries/operator.sql
  postgres/sqlc/models.go
  postgres/sqlc/operator.sql.go
  proxyapi/http_handler_test.go
  sqlite/marshal.go
  sqlite/migrations/0002_delete_entity_triggers.up.sql
  sqlite/migrations/0003_add_operator_last_connect_time.up.sql
  sqlite/operator_token_rw.go
  sqlite/queries/count.sql
  sqlite/queries/operator.sql
  sqlite/sqlc/count.sql.go
  sqlite/sqlc/models.go
  sqlite/sqlc/operator.sql.go
  sqlite/test_db.go
  tests/cluster_commands_test.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Remove disclaimer
  README.md
Due: none

Filter out fetch stream messages log
  command/broker_websocket_handler.go
Due: gofmt, golangci-lint, debug-check, unit-tests

Path conditions:
  gofmt: any of: *.go
  gomod: any of: go.{mod,sum}
  golangci-lint: any of: *.go
  buf-lint: any of: proto/**/*.proto
  debug-check: any of: *.go
  unit-tests: any of: *.go
